/* Configurações Iniciais */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:rgb(83, 0, 63);
}

body {
    background:linear-gradient(90deg,rgb(187, 84, 113),rgb(244, 225, 215));
    text-align: center;
}

/* Cabeçalho*/

header {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 45px;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

#menu__nav{
    text-align: right;
}

#menu__nav li {
    display: inline-block;
    margin: 0 10px;
}

#menu__nav ul li a{
    transition: 300ms;
}

#menu__nav ul li a:hover {
    text-decoration: underline;
    text-shadow: 0px 1px 0px rgb(212, 174, 185);
}

/* Estilização do Conteúdo da Página */
#container {
    height: 50vh;
    margin: 50px auto 0;
}

#container .name h1 {
    font-size: 45px;
}

#container .name h5 {
    font-size: 25px;
}

/* Animação da seta */
#arrow {
    font-size: 25px;
    cursor: pointer;  
}

@keyframes blink{
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
    animation: blink 1s steps(5, start) infinite;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}


#about p {
    max-width: 600px;
    margin: 15px auto;
    text-align: justify;

}

#form {
    width: 40%;
    margin: 30px auto;   
}

#form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;;
}

#form button {
    width: 20%;
    cursor:pointer;
    border:none;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(to right,rgb(187, 84, 113) 50%,rgb(244, 225, 215) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all 500ms ease-out;
    
    margin-left: -5px;
}

#form button:hover{
    background-position: left bottom;
    background-color: rgba(250, 235, 215,0.5);
    color:antiquewhite;
    box-shadow: 1px 1px 1px 1px rgb(83, 0, 63);

}

/* Responsividade */

@media only screen and (max-width:768px){
    #form {
        width: 80%;
    }
    
    #about p {
        max-width: 60%;
    }
}

@media only screen and (max-width:480px){
    #container .name h1 {
        font-size: 30px;
    }
    
    #container .name h5 {
        font-size: 17px;
    }

}